.titulo{
    font-size: x-large;
    font-weight: bold;
}

.resumen {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 5;
  overflow: hidden;
}

.botonIrNoticia {
  text-align: center;
}
